---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <style>
      * {
      }

      body {
        font-family: "Benton Sans", sans-serif;
      }
      #svg-canvas-container {
        border: 1px solid red;
      }
      #svg-canvas {
        background-color: blanchedalmond;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div id="canvas-container">
      <svg id="svg-canvas" width="800" height="400">
        <!-- <mask id="svgmask1">
          <polygon id="tube-poli" fill="#ffffff" points="100 100, 100 450, 140 500, 260 500, 300 450, 300 100"
          ></polygon>
        </mask>
        <rect y="100" width="500" height="100" fill="dodgerblue" mask="url(#svgmask1)"></rect>
        <rect y="200" width="500" height="100" fill="lightgreen" mask="url(#svgmask1)"></rect>
        <rect y="300" width="500" height="100" fill="orange" mask="url(#svgmask1)"></rect>
        <rect y="400" width="500" height="100" fill="red" mask="url(#svgmask1)"></rect> -->
      </svg>
    </div>
    <div>
      <button id="btn01">Game start</button>
      <button id="btn02">Reset</button>
    </div>

    <div>
      <textarea></textarea>
    </div>

    <script src="./main.ts"></script>
  </body>
</html>
