---
import levels from "../data/levels.json";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>

        <style is:global>
            * {
                box-sizing: border-box;
            }
            body {
                font-family: "Benton Sans", sans-serif;
            }
            #canvas-container {
                border: 1px solid red;
                display: flex;
                flex-wrap: wrap;
                gap: 32px;
                padding: 32px;
            }
            .tube {
                height: 200px;
                width: 50px;
                border: 1px solid black;

                &.selected {
                    box-shadow: 0px 0px 14px rgb(31, 152, 192);
                }
            }
            .water {
                height: 50px;
                width: 50px;
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>Water Sort</h1>

        <ul>
            {
                levels.map((level, idx) => {
                    return (
                        <li>
                            <a href={`/levels/${idx + 1}/`}>{level.name}</a>
                        </li>
                    );
                })
            }
        </ul>
    </body>
</html>
