---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Ok</h1>

  <button>click here!</button>

  <span>type here</span>

  <textarea name="" id=""></textarea>

  <h3>because you're a fool</h3>

  <script src="./game.ts"></script>
  <script></script>
</Layout>
