---
import json from "../../data/levels.json";

const path = Astro.url.pathname;
const levelIdx = Number(path.split("/").at(-2));
const levelNumber = levelIdx;
const levelData = json[levelIdx - 1];
---

<style is:global>
    :root {
        --tube-width: 50px;
        --tube-height: 200px;
    }
    * {
        box-sizing: border-box;
    }

    #board {
        display: flex;
        flex-wrap: wrap;
        border: 1px dashed gray;
        padding: 64px;
        gap: 128px;
    }

    .tube {
        position: relative;
        width: var(--tube-width);
        height: var(--tube-height);
        display: flex;
        flex-direction: column-reverse;
        border: 1px solid;
        transform-origin: center top;
        overflow: hidden;

        &.selected {
            box-shadow: 0px 0px 12px dodgerblue;
        }
    }

    .liquid {
        position: relative;
        width: 100%;
        height: 25%;
    }

    .top-anchor {
        position: absolute;
        width: 5px;
        height: 5px;
        background: black;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .marker {
        position: relative;
        width: 100px;
        height: 1px;
        translate: 0px 0px;
        top: 0;
        pointer-events: none;
    }
    .marker[data-side="left"] {
        left: -50px;
    }
    .marker[data-side="right"] {
        right: 0;
    }

    .layer {
        position: absolute;
        transform-origin: top;
        /* opacity: 0.25; */
        width: 500px;
        height: 500px;
        translate: -200px 0px;
        pointer-events: none;
    }
</style>

<h1>Level {levelNumber}</h1>

<div id="board-info">
    {levelData.board}
</div>

<div id="board"></div>

<div>
    <button id="go-back-in-time-btn">go back in time</button>
    <button id="best-move-btn">best move</button>
</div>

<script>
    import { Level } from "../../scripts/Level";

    const map = document.querySelector("#board-info")!.textContent!.trim();
    const level = new Level(map);
    console.log(level);
</script>
