---
import json from "../../data/levels.json";

const path = Astro.url.pathname;
const levelIdx = Number(path.split("/").at(-2));
const levelNumber = levelIdx + 1;

const levelData = json[levelIdx];
---

<style is:global>
    * {
        /* box-sizing: border-box; */
    }

    #board {
        display: flex;
        flex-wrap: wrap;
        gap: 36px;
        justify-content: center;
        border: 1px solid red;
        padding-block: 36px;
        margin-top: 36px;
    }

    .tube {
        position: relative;
        height: 200px; /* TUBE_HEIGHT */
        width: 50px; /* TUBE_WIDTH */
        border: 1px solid black;
        /* overflow: hidden; */

        &.selected {
            box-shadow: 0px 0px 12px dodgerblue;
        }
    }

    .liquid {
        /* border: 1px solid black; */
        height: 25%;
        width: 50px; /* TUBE_WIDTH */
    }

    .top-anchor {
        width: 5px;
        height: 5px;
        border-radius: 100px;
        background-color: black;
        position: absolute;
        top: -50px;
        left: 22.5px;
    }
</style>

<h1>Level {levelNumber}</h1>

<div id="board-info">
    {levelData.board}
</div>

<div id="board"></div>

<div>
    <button id="go-back-in-time-btn">go back in time</button>
</div>

<script>
    import { Level } from "../../scripts/Level";

    const map = document.querySelector("#board-info")!.textContent!.trim();
    const level = new Level(map);
    console.log(level);
</script>
